body{
  background-color: teal;
}
section{
  padding: 2em;
}
.formLabel{
  display: flex;
  justify-content: space-between;
}
.modal{
  overflow: visible !important;
}
a{
  text-decoration: none !important;
}
.w-100{
  width: 100%;
}
.disabled{
  display: none;
}
/*  */
.mainData, .cardDetails, .btns, .personalDetailsAmendment{
  padding: 2em;
  border-radius: 15px;
  background-color: white;
}
.border{
  padding: 2em;
  border: 1px dashed black ;
  border-radius: 15px;
  background-color: whitesmoke;
}