section{
  padding-top: 2em;
}
.formLabel{
  display: flex;
  justify-content: space-between;
}
.modal{
  overflow: visible !important;
}
a{
  text-decoration: none !important;
}
.w-100{
  width: 100%;
}
.disabled{
  display: none;
}
/*  */
.mainData{
  padding: 2em;
  background-color: whitesmoke;
}